<div class="content-top">
    <div class="text-h3">
        <h3>PHIM SẮP CHIẾU</h3>
        
    </div>
    <div class="text-img">
        <div class="text-box-img">
            <a href="#"><img src="../../public/image/vo-gian-dao2_1557129420414.jpg" alt=""></a>
            <div class="box-text">
                <p>VÔ GIAN ĐẠO</p>
                <a href="#">MUA VÉ</a>
            </div>
        </div>
        
        <div class="text-box-img">
            <a href="#"><img src="../../public/image/mv5bndjjmtqzm2mtnteyzs00y2filwi1ngmtmmy0m2y5yjrimwu1xkeyxkfqcgdeqxvynjk3nju0ndy--v1-sx1777-cr0-0-1777-999-al-_1555569084772.jpg" alt=""></a>
            <div class="box-text">
                <p>JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH</p>
                <a href="#">MUA VÉ</a>
            </div>
        </div>
        <div class="text-box-img">
                <a href="#"><img src="../../public/image/1024wx768h_1558348741230.jpg" alt=""></a>
                <div class="box-text">
                    <p>ALADDIN</p>
                    <a href="#">MUA VÉ</a>
                </div>
        </div>
    </div>
    <div class="text-img">
            <div class="text-box-img">
                <a href="#"><img src="../../public/image/vo-gian-dao2_1557129420414.jpg" alt=""></a>
                <div class="box-text">
                    <p>VÔ GIAN ĐẠO</p>
                    <a href="#">MUA VÉ</a>
                </div>
                </div>
                
                <div class="text-box-img">
                    <a href="#"><img src="../../public/image/vo-gian-dao2_1557129420414.jpg" alt=""></a>
                    <div class="box-text">
                        <p>VÔ GIAN ĐẠO</p>
                        <a href="#">MUA VÉ</a>
                    </div>
                </div>
                <div class="text-box-img">
                    <a href="#"><img src="../../public/image/vo-gian-dao2_1557129420414.jpg" alt=""></a>
                    <div class="box-text">
                        <p>VÔ GIAN ĐẠO</p>
                        <a href="#">MUA VÉ</a>
                    </div>
                </div>
    </div>
    <div class="text-h3">
        <h3>PHIM ĐANG CHIẾU</h3>
    </div>
    <div class="text-img">
            <div class="text-box-img">
                    <a href="#"><img src="../../public/image/vo-gian-dao2_1557129420414.jpg" alt=""></a>
                    <div class="box-text">
                        <p>VÔ GIAN ĐẠO</p>
                        <a href="#">MUA VÉ</a>
                    </div>
                </div>
                
                <div class="text-box-img">
                        <a href="#"><img src="../../public/image/vo-gian-dao2_1557129420414.jpg" alt=""></a>
                        <div class="box-text">
                            <p>VÔ GIAN ĐẠO</p>
                            <a href="#">MUA VÉ</a>
                        </div>
                </div>
                <div class="text-box-img">
                        <a href="#"><img src="../../public/image/vo-gian-dao2_1557129420414.jpg" alt=""></a>
                        <div class="box-text">
                            <p>VÔ GIAN ĐẠO</p>
                            <a href="#">MUA VÉ</a>
                        </div>
                </div>
    </div>
    <div class="text-img">
            <div class="text-box-img">
                    <a href="#"><img src="../../public/image/vo-gian-dao2_1557129420414.jpg" alt=""></a>
                    <div class="box-text">
                        <p>VÔ GIAN ĐẠO</p>
                        <a href="#">MUA VÉ</a>
                    </div>
                </div>
                
                <div class="text-box-img">
                    <a href="#"><img src="../../public/image/vo-gian-dao2_1557129420414.jpg" alt=""></a>
                    <div class="box-text">
                        <p>VÔ GIAN ĐẠO</p>
                        <a href="#">MUA VÉ</a>
                    </div>
                </div>
                <div class="text-box-img">
                    <a href="#"><img src="../../public/image/vo-gian-dao2_1557129420414.jpg" alt=""></a>
                    <div class="box-text">
                        <p>VÔ GIAN ĐẠO</p>
                        <a href="#">MUA VÉ</a>
                    </div>
                </div>
    </div>
</div>
<div class="content-bottom">
    <div class="text-h33">
        <h2>TIN KHUYẾN MÃI</h2>
    </div>
    <div class="box-img">
        <div class="khuyenmai">
            <img src="../../public/image/300-x-450_1558679340394.jpg" alt="">
            <div class="khuyenmai-s">
                <h2>COMBO X-MEN DARK PHOENIX</h2>
                <h3>Tri ân ekip Dị Nhân, từ ngày 24/5, Galaxy Cinema dành tăng ly X-Men Dark với hai lớp chắc chăn, cực chill</h3>
                <a href="#">Chi Tiết</a>
            </div>
        </div>
        <div class="khuyenmai">
                <img src="../../public/image/300-x-450_1558679340394.jpg" alt="">
                <div class="khuyenmai-s">
                    <h2>COMBO X-MEN DARK PHOENIX</h2>
                    <h3>Tri ân ekip Dị Nhân, từ ngày 24/5, Galaxy Cinema dành tăng ly X-Men Dark với hai lớp chắc chăn, cực chill</h3>
                    <a href="#">Chi Tiết</a>
                </div>
        </div> 
        <div class="khuyenmai">
                <img src="../../public/image/300-x-450_1558679340394.jpg" alt="">
                <div class="khuyenmai-s">
                    <h2>COMBO X-MEN DARK PHOENIX</h2>
                    <h3>Tri ân ekip Dị Nhân, từ ngày 24/5, Galaxy Cinema dành tăng ly X-Men Dark với hai lớp chắc chăn, cực chill</h3>
                    <a href="#">Chi Tiết</a>
                </div>
        </div>
        <div class="khuyenmai">
                <img src="../../public/image/300-x-450_1558679340394.jpg" alt="">
                <div class="khuyenmai-s">
                    <h2>COMBO X-MEN DARK PHOENIX</h2>
                    <h3>Tri ân ekip Dị Nhân, từ ngày 24/5, Galaxy Cinema dành tăng ly X-Men Dark với hai lớp chắc chăn, cực chill</h3>
                    <a href="#">Chi Tiết</a>
                </div>
        </div>
        <div class="khuyenmai">
                <img src="../../public/image/300-x-450_1558679340394.jpg" alt="">
                <div class="khuyenmai-s">
                    <h2>COMBO X-MEN DARK PHOENIX</h2>
                    <h3>Tri ân ekip Dị Nhân, từ ngày 24/5, Galaxy Cinema dành tăng ly X-Men Dark với hai lớp chắc chăn, cực chill</h3>
                    <a href="#">Chi Tiết</a>
                </div>
        </div>
        <div class="khuyenmai">
                <img src="../../public/image/300-x-450_1558679340394.jpg" alt="">
                <div class="khuyenmai-s">
                    <h2>COMBO X-MEN DARK PHOENIX</h2>
                    <h3>Tri ân ekip Dị Nhân, từ ngày 24/5, Galaxy Cinema dành tăng ly X-Men Dark với hai lớp chắc chăn, cực chill</h3>
                    <a href="#">Chi Tiết</a>
                </div>
        </div>
        <div class="khuyenmai">
                <img src="../../public/image/300-x-450_1558679340394.jpg" alt="">
                <div class="khuyenmai-s">
                    <h2>COMBO X-MEN DARK PHOENIX</h2>
                    <h3>Tri ân ekip Dị Nhân, từ ngày 24/5, Galaxy Cinema dành tăng ly X-Men Dark với hai lớp chắc chăn, cực chill</h3>
                    <a href="#">Chi Tiết</a>
                </div>
        </div>
        <div class="khuyenmai">
                <img src="../../public/image/300-x-450_1558679340394.jpg" alt="">
                <div class="khuyenmai-s">
                    <h2>COMBO X-MEN DARK PHOENIX</h2>
                    <h3>Tri ân ekip Dị Nhân, từ ngày 24/5, Galaxy Cinema dành tăng ly X-Men Dark với hai lớp chắc chăn, cực chill</h3>
                    <a href="#">Chi Tiết</a>
                </div>
        </div>    
    </div>
</div>
<div class="gioithieu">
    <div class="text-h1">
        <h1>VỀ CHÚNG TÔI</h1>
    </div>
    <div class="gioithieu-s">
          <p>
            <b>Galaxy Cinema</b> là một trong những công ty tư nhân đầu tiên về điện ảnh được thành lập từ năm 2003, đã khẳng định thương hiệu là 1 trong 10 địa điểm vui chơi giải trí được yêu thích nhất. Ngoài hệ thống rạp chiếu phim hiện đại, thu hút hàng triệu lượt người đến xem, <b>Galaxy Cinema</b> còn hấp dẫn khán giả bởi không khí thân thiện cũng như chất lượng dịch vụ hàng đầu.
          </p>
          <p>Đến website <i>galaxycine.vn</i> , quý khách sẽ được cập nhật nhanh chóng các <i>phim hay nhất</i> <i>phim mới nhất</i>  đang chiếu hoặc sắp chiếu. <i>Lịch chiếu</i> tại mọi hệ thống <i>rạp chiếu phim</i> của <b>Galaxy Cinema</b>  cũng được cập nhật đầy đủ hàng ngày hàng giờ trên<i> trang chủ.</i></p>  
    </div>
</div>