
        
                <div class="header">
                        <div class="img">
                                <a href="#">
                                       <img src="../../public/image/galaxy-logo.png" alt="galaxy-logo">
                                </a>
                        </div>
                        <div class="search">
                                <form action="#" class="search-form">
                                        <input type="text" name="txtsearch" id="txtsearch" placeholder="Bạn muốn xem phim gì...">
                                        <button>Tìm kiếm</button>
                                </form>
                        </div>
                        <div class="header-right">
                                <a href="#" class="header-right-a">Đăng nhập</a>
                                <a href="#" class="header-right-a">Đăng ký</a>
                        </div>
                </div>
                <div class="menu">
                        <ul class="menu-ul">
                                <li class="menu-ul-li">
                                        <a href="#">MUA VÉ</a>
                                </li>
                                <li class="menu-ul-li">
                                        <a href="#">PHIM</a>
                                        <div class="sub-menu-1">
                                                <ul>
                                                        <li>
                                                                <a href="#">PHIM ĐANG CHIẾU</a>
                                                                <div class="list">
                                                                        <div class="list-1">
                                                                                <a href="#">
                                                                                        <img src="../../public/image/vogiandaoposter_1557386618293.jpg" alt="vogiandaoposter_1557386618293">
                                                                                </a>
                                                                                <p>Vô Gian Đạo</p>
                                                                        </div>
                                                                        <div class="list-1">
                                                                                <a href="#">
                                                                                        <img src="../../public/image/59689176-10156474051068869-6164194890658873344-n_1557455704464.jpg" alt="Doremon">
                                                                                </a>
                                                                                <p>Doremon: Nobita Và Mặt Trăng Phiêu...</p> 
                                                                        </div>
                                                                </div>
                                                               
                                                               
                                                        <li>
                                                                <a href="#">PHIM SẮP CHIẾU</a>
                                                                <div class="list">
                                                                        <div class="list-1">
                                                                                
                                                                                <a href="#">
                                                                                        <img src="../../public/image/vogiandaoposter_1557386618293.jpg" alt="vogiandaoposter_1557386618293">
                                                                                </a>
                                                                                <p>Vô Gian Đạo</p>
                                                                                                     
                                                                        </div>
                                                                        <div class="list-1">
                                                                                        
                                                                                <a href="#">
                                                                                         <img src="../../public/image/59689176-10156474051068869-6164194890658873344-n_1557455704464.jpg" alt="59689176-10156474051068869-6164194890658873344-n_1557455704464">
                                                                                </a>
                                                                                <p>Doremon: Nobita Và Mặt Trăng Phiêu...</p>
                                                                                
                                                                        </div>
                                                                </div>
                                                        </li>
                                                </ul>
                                        </div>
                                </li>
                                <li class="menu-ul-li">
                                        <a href="#">GÓC ĐIỆN ẢNH</a>
                                </li>
                                <li class="menu-ul-li">
                                        <a href="#">SỰ KIỆN</a>
                                </li>
                                        
                                <li class="menu-ul-li">
                                        <a href="#">RẠP/GÍA VÉ</a>
                                </li>
                                <li class="menu-ul-li">
                                        <a href="#">HỔ TRỢ</a>
                                </li>
                                
                                <li class="menu-ul-li">
                                        <a href="#">THÀNH VIÊN</a>
                                </li>
                        </ul>
                </div>
                <div class="slidesshow middle">
                        <div class="slides">
                                <input type="radio" name="r" id="r1" checked>
                                <input type="radio" name="r" id="r2">
                                <input type="radio" name="r" id="r3">
                                <input type="radio" name="r" id="r4">
                                <input type="radio" name="r" id="r5">
                        
                                <div class="slide s1">
                                        <img src="../../public/image/2048-x-682-px-01_1558923775124.jpg" >
                                </div>
                                <div class="slide">
                                        <img src="../../public/image/2048x682-vgd_1558425937453.jpg" >
                                </div>
                                <div class="slide">
                                        <img src="../../public/image/banner-khoi-chieu-2048-x-682_1558677220171.jpg" >
                                </div>        
                                <div class="slide">
                                        <img src="../../public/image/banner-t03-2048-x-682_1558679802799.jpg" >
                                </div>        
                                <div class="slide">
                                        <img src="../../public/image/nk-2048-x-682_1554087821449.jpg" >
                                </div> 
                        </div>         
                        <div class="slidenavigation">
                                <label for="r1" class="bar"></label>
                                <label for="r2" class="bar"></label>
                                <label for="r3" class="bar"></label>
                                <label for="r4" class="bar"></label>
                                <label for="r5" class="bar"></label>
                        </div>        
                              

                        
                </div>
                